job-search-workflow.json
{
  "name": "Local AI Job Search (n8n + Ollama)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Daily Trigger 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-820, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidate Profile",
          "mode": "name"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Load Candidate Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-600, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_GSHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scraper-api.decodo.com/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"target\": \"universal\",\n  \"url\": \"https://remoteok.com/api\",\n  \"parse\": false\n}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Fetch Jobs (Decodo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-380, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_DECODO_CRED_ID",
          "name": "Decodo API Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsExecution": "runOnceForAllItems",
        "jsCode": "// Pull candidate profile (first row of the Candidate Profile sheet)\nconst profile = $('Load Candidate Profile').first().json || {};\nconst candidate = {\n  skills: profile.skills || '',\n  salary_expectation: profile.salary_expectation || '',\n  preferred_industries: profile.preferred_industries || ''\n};\n\n// Decodo wraps the scraped payload. Adjust the path to match YOUR target's response.\n// Common shapes handled below: { results:[{content:[...] }] } or a raw array.\nconst raw = $input.first().json;\nlet jobs = [];\ntry {\n  if (Array.isArray(raw)) jobs = raw;\n  else if (raw.results && raw.results[0] && Array.isArray(raw.results[0].content)) jobs = raw.results[0].content;\n  else if (Array.isArray(raw.content)) jobs = raw.content;\n  else if (Array.isArray(raw.jobs)) jobs = raw.jobs;\n  else if (raw.data && Array.isArray(raw.data)) jobs = raw.data;\n} catch (e) { jobs = []; }\n\n// Build one n8n item per job, with a ready-to-score prompt string.\nreturn jobs\n  .filter(j => j && (j.position || j.title))\n  .slice(0, 25) // safety cap so a daily run stays fast\n  .map(j => {\n    const title = j.position || j.title || '';\n    const company = j.company || j.company_name || '';\n    const description = (j.description || j.snippet || '').toString().slice(0, 4000);\n    const url = j.url || j.apply_url || j.link || '';\n    const location = j.location || 'Remote';\n    const salary = j.salary || j.salary_max || '';\n    const prompt = `CANDIDATE PROFILE:\\nSkills: ${candidate.skills}\\nSalary expectation: ${candidate.salary_expectation}\\nPreferred industries: ${candidate.preferred_industries}\\n\\nJOB POSTING:\\nTitle: ${title}\\nCompany: ${company}\\nLocation: ${location}\\nSalary: ${salary}\\nDescription: ${description}\\n\\nScore this job for this candidate and return JSON only.`;\n    return { json: { job_title: title, company, job_url: url, location, prompt } };\n  });"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Prepare Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "baseUrl": "http://ollama:11434",
        "model": "llama3.1:8b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [80, 520],
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_OLLAMA_CRED_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional career recruiter and technical talent evaluator. You will be given a CANDIDATE PROFILE and a SINGLE JOB POSTING. Score the fit objectively from 0-100 (skills 0-45, salary 0-20, industry 0-20, remote/logistics 0-15). Be strict; generic matches score below 40. Respond with ONE valid JSON object and NOTHING else (no markdown, no code fences, no extra text) using exactly these keys: {\"job_title\": string, \"company\": string, \"fit_score\": integer 0-100, \"matched_skills\": [string], \"missing_skills\": [string], \"reason\": string (max 2 sentences), \"recommendation\": \"apply\"|\"maybe\"|\"skip\"}. Never use null; use empty string or empty array for unknowns."
            }
          ]
        }
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Score Job (LLM)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [80, 300]
    },
    {
      "parameters": {
        "jsExecution": "runOnceForEachItem",
        "jsCode": "// The LLM text output\nlet text = ($json.text || $json.response || '').toString().trim();\n\n// Strip code fences if the model added them\ntext = text.replace(/^```(json)?/i, '').replace(/```$/,'').trim();\n\n// Grab the first {...} block to be safe\nconst match = text.match(/\\{[\\s\\S]*\\}/);\nlet parsed = {};\ntry { parsed = JSON.parse(match ? match[0] : text); } catch (e) { parsed = {}; }\n\n// Carry through the original job url/location from the paired Prepare Jobs item\nconst src = $('Prepare Jobs').item.json;\n\nreturn {\n  json: {\n    job_title: parsed.job_title || src.job_title || '',\n    company: parsed.company || src.company || '',\n    fit_score: Number(parsed.fit_score) || 0,\n    matched_skills: Array.isArray(parsed.matched_skills) ? parsed.matched_skills.join(', ') : '',\n    missing_skills: Array.isArray(parsed.missing_skills) ? parsed.missing_skills.join(', ') : '',\n    reason: parsed.reason || '',\n    recommendation: parsed.recommendation || '',\n    job_url: src.job_url || '',\n    location: src.location || '',\n    scored_at: new Date().toISOString()\n  }\n};"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "fit-gt-50",
              "leftValue": "={{ $json.fit_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Filter: fit_score > 50",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Output",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["job_url"],
          "value": {}
        },
        "options": {}
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [740, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_GSHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "you@example.com",
        "subject": "=Daily Job Matches: {{ $json.job_title }} ({{ $json.fit_score }}/100)",
        "emailType": "html",
        "message": "=<h2>{{ $json.job_title }} — {{ $json.company }}</h2>\n<p><b>Fit score:</b> {{ $json.fit_score }}/100 &nbsp; <b>Recommendation:</b> {{ $json.recommendation }}</p>\n<p><b>Why:</b> {{ $json.reason }}</p>\n<p><b>Matched skills:</b> {{ $json.matched_skills }}</p>\n<p><b>Missing skills:</b> {{ $json.missing_skills }}</p>\n<p><b>Location:</b> {{ $json.location }}</p>\n<p><a href=\"{{ $json.job_url }}\">View / Apply</a></p>",
        "options": {}
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Gmail Notify",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger 8AM": {
      "main": [[{ "node": "Load Candidate Profile", "type": "main", "index": 0 }]]
    },
    "Load Candidate Profile": {
      "main": [[{ "node": "Fetch Jobs (Decodo)", "type": "main", "index": 0 }]]
    },
    "Fetch Jobs (Decodo)": {
      "main": [[{ "node": "Prepare Jobs", "type": "main", "index": 0 }]]
    },
    "Prepare Jobs": {
      "main": [[{ "node": "Score Job (LLM)", "type": "main", "index": 0 }]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{ "node": "Score Job (LLM)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Score Job (LLM)": {
      "main": [[{ "node": "Parse Score", "type": "main", "index": 0 }]]
    },
    "Parse Score": {
      "main": [[{ "node": "Filter: fit_score > 50", "type": "main", "index": 0 }]]
    },
    "Filter: fit_score > 50": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save to Google Sheets": {
      "main": [[{ "node": "Gmail Notify", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
